<div style="margin-top: 5px;">
  <div *ngFor="let property of propertiesArray; let i = index">
    {{i}}:<span style="padding-left: 5px; margin: 0 auto;">
      <input matInput size="10" type="text" [(ngModel)]="property.name" style="background-color: #EEEEEE; width: 100px; margin: 0 auto;">
    </span><span style="padding: 3px; margin: 0;"></span><span style="padding-right: 5px; margin: 0 auto;">
      <input matInput size="10" type="text" [(ngModel)]="property.value" style="background-color: #EEEEEE; width: 100px; margin: 0 auto;">
    </span><button mat-button (click)="removeProperty(i)" [disabled]="propertiesArray.length == 1" style="background-color: #CCCCCC; min-width: 0;">-</button>
  </div>
  <div style="text-align: right;">
    <button mat-button (click)="addProperty()" style="background-color: #CCCCCC; min-width: 0;">+</button>
  </div>
</div>
