<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>
        <div *ngIf="transaction.type == transactionType.Produced">exposure_plus_1</div>
        <div *ngIf="transaction.type == transactionType.Consumed">exposure_neg_1</div>
      </mat-icon>
    </div>
    <mat-card-title>
      <p>{{ transaction.type }} {{ transaction.count }} of {{ transaction.item.name }}</p>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="editMode">
      <mat-tab-group [selectedIndex]="types.indexOf(transaction.type)" (selectedIndexChange)="transaction.type = types[$event]">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>exposure_plus_1</mat-icon>
          </ng-template>
          <hr>
          <input matInput type="number" [(ngModel)]="transaction.count">
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>exposure_neg_1</mat-icon>
          </ng-template>
          <app-item-selector style="width: 100%;" [(selection)]="item"></app-item-selector>
          <hr>
          <input matInput type="number" [(ngModel)]="transaction.count">
        </mat-tab>
      </mat-tab-group>
    </div>

    <div *ngIf="editMode">    
      <mat-card-actions>
        <button mat-button (click)="remove.emit(transaction)">REMOVE</button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
