<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>
        <div *ngIf="transaction.type == transactionType.Produced">exposure_plus_1</div>
        <div *ngIf="transaction.type == transactionType.Consumed">exposure_neg_1</div>
      </mat-icon>
    </div>
    <mat-card-title>
      <p>{{ transaction.type }} {{ transaction.count }} of {{ item?.name }}</p>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="editMode">
      <mat-radio-group style="width: 100%;" [(ngModel)]="transaction.type">
        <div style="display: inline-block; width: 50%; text-align: center;">
          <mat-radio-button [value]="transactionType.Produced">
            Produced
          </mat-radio-button>
        </div><div style="display: inline-block; width: 50%; text-align: center;">
          <mat-radio-button [value]="transactionType.Consumed">
            Consumed
          </mat-radio-button>
        </div>
        <div style="display: inline-block; width: 50%; text-align: center;">
          <mat-radio-button [value]="transactionType.Cultured">
            Cultured
          </mat-radio-button>
        </div><div style="display: inline-block; width: 50%; text-align: center;">
          <mat-radio-button [value]="transactionType.Transferred">
            Transferred
          </mat-radio-button>
        </div>
      </mat-radio-group>

      <div>
        <app-item-selector style="width: 100%;" [uuid]="itemUUID" (uuidChange)="itemUUID = $event; countInput.focus();" [allowNew]="transaction.type == transactionType.Produced"></app-item-selector>
      </div>

      <div style="background-color: #EEEEEE;">
        <input matInput #countInput type="number" [(ngModel)]="transaction.count"/>
      </div>

      <app-item-properties [properties]="item?.properties"></app-item-properties>

      <mat-card-actions>
        <button mat-button (click)="remove.emit(transaction)">Remove</button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
