<mat-expansion-panel class="transaction" [(expanded)]="expanded">
  <mat-expansion-panel-header style="background-color: #EEEEEE;">
    <mat-panel-title>
      <mat-icon>note</mat-icon>
    </mat-panel-title>
    <mat-panel-description>
    <div *ngIf="(editing | async)" (click)="$event.stopPropagation()">
      <mat-form-field style="width: 100px;">
        <input matInput [value]="subject?.moment" [matDatepicker]="picker" placeholder="Choose a date" focused="true">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="width: 40px;">
        <input matInput type="number" step="1" min="1" max="24" [(ngModel)]="formHours">
      </mat-form-field>:
      <mat-form-field style="width: 40px;">
        <input matInput type="number" step="1" min="0" max="59" [(ngModel)]="formMinutes">
      </mat-form-field>
    </div>
    <div *ngIf="!(editing | async)">
      {{ momentString() }}
    </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-grid-list cols="2" [rowHeight]="gridListAspectRatio">
    <mat-grid-tile *ngFor="let transaction of subject?.transactions">
      <app-transaction [transaction]="transaction" [editMode]="editing | async" (remove)="delete($event)"></app-transaction>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-action-row>
    <div *ngIf="(editing | async)">
      <button mat-button size="small" (click)="add()">Add</button>
      <button mat-button size="small" color="primary" (click)="dispatchCancel();">Cancel</button>
      <button mat-button size="small" color="primary" (click)="dispatchSave();">Save</button>
    </div>
    <div *ngIf="!(editing | async)">
      <button mat-button size="small" color="primary" (click)="dispatchEdit();">
        Edit
      </button>
    </div>
  </mat-action-row>
</mat-expansion-panel>
