<mat-form-field style="width: 100%;">
  <div style="position: relative; width: 100%;">
    <div style="position: relative;  width: 100%; height: 100%; z-index: 0; margin: 0px; padding: 0px;">
      <input matInput #querybox placeholder="Item" aria-label="Item" [matAutocomplete]="auto" [formControl]="queryCtrl" style="background-color: #EEEEEE;" (focus)="queryBox.nativeElement.select()" />
    </div>
    <div [hidden]="hideOverlay()" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1; background-color: #E1E1E1;">
      <span>{{selectedItem?.name}}</span> |
      <small>{{selectedItem?.numRemaining}} remaining</small>
    </div>
  </div>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="itemName" (optionSelected)="optionSelected($event)">
    <mat-option *ngIf="allowNew" (click)="stopStoringText()">New item...</mat-option>
    <mat-option *ngFor="let item of filteredItems" [value]="item">
      <span>{{item.name}}</span> |
      <small>{{item.numRemaining}} remaining</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
