<!--The content below is only a placeholder and can be replaced.-->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-1">
      <button *ngIf="!newing" mat-button (click)="newEntry()">
        <mat-icon>note_add</mat-icon>
        New Entry
      </button>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-entry *ngIf="creating" [entry]="unsavedEntry" [expanded]="true" (cancel)="newCanceled()" (save)="newSaved($event)" [editMode]="true"></app-entry>
      <app-entry *ngFor="let entry of entries" [entry]="entry" [expanded]="true"></app-entry>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
